*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    position : sticky;
    top: 0;
    z-index: 1000;
}


/* --------------NAV------------- */
.nav-bar {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-bar ul a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-bar h1{
    margin-left: 20px;
    font-size: 24px;
}

.logo {
    margin : 5px;
    padding: 10px;
    border-radius: 20%;
    height : 110px;
}



/* ----------MAIN------------- */

.main-content {
    padding: 20px;
    display: flex;
}

.main-content p {
    margin: 10px 0;
}

section h2 {
    margin: 20px 0;
    color: #333;
}

.main-content a{
    text-decoration: none;
    color: white;
}

/* ---------PRODUCTOS-------------- */

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(66, 127, 232);
}

.productos img {
    width: 100%;
    max-width: 300px;;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;}

.productos h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #f7f3f3;
    text-decoration: underline;
}

.productos div {
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(25% - 20px); /* 4 items per row with some margin */
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}


/* ------BIENVENIDA------- */  

.bienvenida {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.bienvenida div {
    flex: 1;
}

.bienvenida h2, .bienvenida p {
    margin : 0 0 10px;
}

.bienvenida p {
    font-size: 18px;
    color: #555;
}

.historia {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: tomato
}

.boton-pedido {
    background-color: #e63946;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.boton-pedido a {
    text-decoration: none;
    color: #ddd;
}

.text-princ {
    text-align: left;
}

.historia {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

/* ------MENU-------- */

.menu h2 {
    padding: 20px;
    text-align: center;
    color: #333;
}

.menu h3 {
    margin: 10px 0;
    color: #555;
}

.menu p {
    margin: 5px 0;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.burguer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border : 1px solid #ddd;
}

.burguer-items img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.precio {
    font-size: 25px;
    color: white;
    margin-left: 50px;
}

.boton-precio {
    display: flex;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(233, 51, 51);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.producto-info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CONOCENOS / HISTORIA */

.conocenos {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
}

.conocenos h2 {
    font-size: 25px;
    margin-top: 10px;
}

/* IMAGEN DIVISORA */
.imagen-divider1 {
    background-image: url('../img/imgoff/americana2-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;}

.imagen-divider2 {
    background-image: url('../img/imgoff/americana2-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* NUESTROS PRODUCTOS */

.nuestros-prod {
    text-align: center;
}

.nuestros-prod h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.contenedor-tarjeta {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tarjeta-container {
    background-color: #777;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.2s ease;
}

.tarjeta-container img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: white;
    object-fit: cover;
}

.tarjeta-container p {
    font-size: 14px;
    color: #444;
}

/* PROMOCIONES */

.promociones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.promociones h2 {
    margin-bottom: 20px;
    color: #333;
}

.promociones h3 {
    margin: 10px 0;
    color: #555;
}

.promociones p {
    margin: 5px 0;
    color: #777;
}

/* tiene que estar uno al lado del otro */
.promociones form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* CONTACTO*/

main section {
    text-align: center;
}

/* FOOTER */
.footer {
    background-color: rgb(233, 51, 51);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* PAGINA CONOCENOS */

.sobre-nosotros {
    background-color: #dfe7f3;
    padding: 20px;
}

.texto-princ-conoc {
    display: flex;
    gap: 20px;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color: #555;
    flex-direction: column;
    background-color: tomato;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
}


.section-conocenos h2 {
    font-size: 25px;
}
